.Signup__wrapper{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.Signup__wrapper::before{
    content:'';
    background: url('../../../img/bgap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    top:0;
    left:0;
    z-index:-1;
}
.Signup_div{
    width:45%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Signup_div img {
    margin:20px 0px;
    height:50px;
    width:50px; 
}
.Signup_div h1{
    font-weight: 100;
}

.singup__form{
    background: #fff;
    margin:20px;
    padding:20px 30px;
    border-radius: 10px;;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.input_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom:12px;
}
.input_wrapper input{
    padding:7px;
    border-radius: 3px;;
    border:1px solid #111;
}
.input_wrapper .signup{
    background: #0a66c2;
    border-radius: 31px;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.input_wrapper .signup:hover{
    background-color: #25507a;
    cursor:pointer;
}
.input_wrapper .signup__with_google{
    background: transparent;
    border-radius: 31px;
    padding: 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: #0a66c2;
    border:1px solid #0a66c2;
}
.signup__with_google{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup__with_google:hover{
    border:2px solid #0a66c2;
    cursor:pointer;
    transform: scale(.99);
}

.input_wrapper label,.input_wrapper p{
    color:#a19696;
    margin-bottom: 5px;
    font-weight: 100;
}

.input_wrapper p{
    font-size:13px;
}

.input_wrapper p a{
    text-decoration: none;
    font-weight: 500;
    color: #0a66c2;
}
.signup__or{
    position: relative;
    display: flex;
    top:0px;
    left:center;
    justify-content: center;

}
.signup__or::before{
    content: '';
    position: absolute;
    top: 12px;
    left: 23px;
    width: 40%;
    height: 2px;
    background: #eee;
}
.signup__or::after{
    content: '';
    position: absolute;
    top: 12px;
    right: 23px;
    width: 40%;
    height: 2px;
    background: #eee;
}
.input_wrappers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_wrappers a{
    margin-left:10px;
    text-decoration: none;
    font-weight: 500;
    color: #0a66c2;
}
.input_wrappers a:hover{
    margin-left:10px;
    font-weight: 500;
    color: #0a66c2;
    text-decoration: underline;
}
