.dashboard__card_child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__card_head p{
    font-weight: 600;
    font-size: 21px;
}

.dashboard__card_head p a{
    text-decoration: none;
    color:#fff;
    float:right;
}

.dashboard__card_icon .MuiSvgIcon-root{
    font-size:3rem;
}